doctype html
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')
  title Monkey Manager 3000
  // Mon CSS
  link(rel='stylesheet', type='text/css', href='/static/css/style.css')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe', rel='stylesheet')
  //Icon
  link(rel='icon', type='images/png', href='/static/images/logo.jpg')

body
  #valide.container-fluid
        a.nav-link.center(href='/singe')
            img(src='../static/images/logo.jpg', width='10%', height='10%', alt='')
        h1.ZCOOL.sizebienvenue.margesinge Singe ajouté !
        a.nav-link.center(href='/singe')
            button.btn.btn-primary(type='button').bouton18.margebouton18 OK
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br